@import 'tailwindcss';
@plugin "daisyui";

.slide-in-semitop {
    animation: slideInSemiTop 0.1s ease-out forwards;
    
}

.slide-in-bottom {
  animation: slideInBottom 1.4s ease-out forwards;
}

.slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}

@keyframes slideInSemiTop {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(10px);
    opacity: 1;
  }
}
@keyframes slideInBottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
