<footer class="w-full text-black bg-neutral-400">
  <!-- full-bleed background, inner container controls width -->
  <div class="mx-auto w-full max-w-7xl px-6 lg:px-12 py-6 lg:py-8">
    <div class="md:flex md:items-start md:justify-between">
      <div class="mb-6 md:mb-0">
        <a class="inline-flex items-center" href="#">
          <span class="text-heading self-center text-2xl font-semibold whitespace-nowrap">Jargs Kitchen</span>
        </a>
      </div>

      <!-- wider grid so columns take more horizontal space -->
      <div class="grid grid-cols-2 gap-10 sm:gap-8 sm:grid-cols-2 md:ml-8 md:flex-1">


        <div>
          <h2 class="mb-6 text-sm font-semibold text-heading uppercase">Follow us</h2>
          <ul class="text-body font-medium space-y-3">
            <li><a href="https://github.com/themesberg/flowbite" class="hover:underline">Facebook Page</a></li>
            <li><a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Instagram Page</a></li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-sm font-semibold text-heading uppercase">Legal</h2>
          <ul class="text-body font-medium space-y-3">
            <li><a href="#" class="hover:underline">Privacy Policy</a></li>
            <li><a href="#" class="hover:underline">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="my-6 border-default sm:mx-auto lg:my-8" />

    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-body sm:text-left">© 2026 <a href="https://flowbite.com/" class="hover:underline">Jargs kitchen</a>. All Rights Reserved.</span>

      
    </div>
  </div>
</footer>
